/* The Waldorf School of Garden City
	     File Owner: Jake Vu
	     Last Edit: December 7, 2018 */

@font-face { font-family: Bangers; src: url('fonts/Bangers.ttf'); }
@font-face { font-family: Neucha; src: url('fonts/Neucha.ttf'); }
@font-face { font-family: Kumar; src: url('fonts/Kumar.ttf'); }

body {
	color: black;
	background-color: #E5B48F;
	font-family: Courier;
}

.main {
	float: right;
	width: 80%;
	border:10px dashed #2f3493;
	padding: 20px 20px 20px 20px;
}
	
.nav {
	float: left;
	width: 20%;
	position: fixed;
	margin-top:50px;
}
	
.nav li {
	list-style-type: none;
	font-size: 20px;
	display:in-line;
}
	
.nav li a:hover {
	background-color: #9821a5;
	text-decoration: none;
}
	
.nav li a:link {
	text-decoration: none;
	border: 1px dashed #59ebfc;
}
	
.nav li a:active{
	background-color: #59ebfc;
	text-decoration: none;
}
	
a:visited {
	color: #d124a0;
	text-decoration: none;
}
	
.active {
	display: inline-block;
	background-color: yellow !important;
	color: black;
	border: none !important;
}
	
h1,h2 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

h1 {
	font-family: Bangers;
	font-size: 70;

.main h1 a:link {
	color:black;
}
	
}
	
h2 {
	font-family: Kumar;
	font-size:50;
}
	
h3, h4, h5 {
	font-family: Neucha;
	color: #cd853f;
}

			
h3 {
	font-size: 40;
}


h4 {
	font-size: 35;
} 


h5 {
	font-size: 30;
} 

p {
	font-family: Neucha;
	font-size: 20;
	color: white;
}	

.img {
	float: left;
	padding: 0px 20px 0px 0px;
}

.clearfix {
	overflow: auto;
}
				
.start{
	text-align: center;
	display: block;	
}

.sub {
	overflow: auto;
	margin-left: 50px;
}

.sub2 {
	overflow: auto;
	margin-left: 100px;
}
