/* The Waldorf School of Garden City
	     File Owner: Jake Vu
	     Last Edit: March 13, 2019 */

@font-face { font-family: Bangers; src: url('fonts/Bangers.ttf'); }
@font-face { font-family: Neucha; src: url('fonts/Neucha.ttf'); }
@font-face { font-family: Kumar; src: url('fonts/Kumar.ttf'); }

body {
	color: white;
	background-color: black;
	font-family: Courier;
}

.main {
	float: right;
	width: 80%;
	border:10px dashed #2f3493;
	padding: 20px 20px 20px 20px;
}
	
.nav {
	float: left;
	width: 20%;
	position: fixed;
	margin-top:50px;
}
	
.nav li {
	list-style-type: none;
	font-size: 25px;
	display:in-line;
	padding: 5px;
}
	
.nav li a:link {
	text-decoration: none;
	border: 3px dashed;
	border-color: #e5b48f; 
	padding: 2px;
	color: white;
}
	
a:visited {
	color: white;
	text-decoration: none;
	border-color: #E5B48F;
}

.nav li a:hover {
	text-decoration: none;
	color: #59ebfc;
	border-color: #E5B48F;
	background-color: #2f3493;
}
	
.nav li a active {
	text-decoration: none;
	border: 2px dashed #E5B48F;
	padding: 2px;
	color: #59ebfc;
}
	
.active {
	display: inline-block;
	background-color: #9821a5 !important;
	color: #59ebfc;
	border:none !important;
}

.active2 {
	display: inline-block;
	color: #E5B48F !important;
	background-image: url('images/header.png');
	background-size: cover;
	background-position: center;
	overflow: visible;
	margin: 10px;
}

.main h1 a:link{
	text-decoration:none;
	color: red;
}

.cite a:link a:hover a:visited a:active {
		color: white;
}
	
h1,h2 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

h1 {
	font-family: Bangers;
	font-size: 70;
	
}
	
h2 {
	font-family: Kumar;
	font-size:50;
	letter-spacing: 1px;
	color:#E5B48F;
}
			
h3 {
	font-size: 40;
	color: #9821A5;
	font-family: Neucha;
}

h4, h5 {
	font-family: Neucha;
	color: #D124A0;
}

h4 {
	font-size: 35;
} 


h5 {
	font-size: 30;
} 

p {
	font-family: Neucha;
	font-size: 20;
	color: white;
}	

.img {
	float: left;
	padding: 0px 20px 0px 0px;
}

.clearfix {
	overflow: auto;
}
				
.start{
	text-align: center;
	display: block;	
}

.sub {
	overflow: auto;
	margin-left: 50px;
}

.sub2 {
	overflow: auto;
	margin-left: 100px;
}

table {	
	color: white;
	border: solid #9821A5;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	border: solid #59ebfc;
}
	
th {
	color:#E5B48F;
	font-size: 20;
}

hr {
	border-color: #59ebfc;
}
	
.gallery {
	margin: 20px 20px 20px 20px;
	width: 20%;
}

.inverted{
	margin: 20px 20px 20px 20px;
	width: 20%;
	-webkit-filter: invert(100%);
	filter: invert(100%);
	}

.welcome {
	width: 60%;
	margin-left: 25px;
	-webkit-animation: welcome 3s infinite alternate;
	animation:welcome 3s infinite alternate;
}

@-webkit-keyframes welcome {
  from {
	opacity: 0;
	}
  to {
	opacity: 1;
	}
} 

@keyframes welcome {
	  from {
	opacity: 0;
	}
  to {
	opacity: 1;
	}
} 

